name: buildandrun.yaml
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install
        run: |
          #          TODO: https://github.com/thought-machine/please/tree/master/tools/images#updating-images <- this but maybe lxc
          sudo dpkg --add-architecture i386 
          sudo apt update 
          sudo apt upgrade
          sudo apt install -y gcc-multilib g++-multilib libc6:i386 libstdc++6:i386 qemu-system-x86 mtools grub-common grub-pc-bin socat xorriso

      - name: build
        run: ./.github/scripts/build_artOS.sh

      - name: qemu-test
        run: ./.github/scripts/run_qemu_tests.sh

      - name: report_output
        run: cat serial.log

      - name: check_output
        run: python3 ./.github/scripts/check_output.py

# TODO: This should test building with and without terminal logging. I currently have a broken build with terminal.
# TODO: This should also build with debug mode and release mode with terminal and without
