name: Build ArtOS and run qemu tests
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
jobs:
  qemu-testing:
    if: ${{ !github.event.pull_request.draft }}
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: install
        run: |
          echo "::group::install dependencies"
          # TODO: https://github.com/thought-machine/please/tree/master/tools/images#updating-images <- this but maybe lxc
          sudo dpkg --add-architecture i386
          sudo apt update
          sudo apt upgrade
          sudo apt install -y gcc-multilib g++-multilib libc6:i386 libstdc++6:i386 qemu-system-x86 mtools grub-common grub-pc-bin socat xorriso
          echo "::endgroup::"
      - name: build
        run: |
          echo "::group::build"
          ./.github/scripts/build_artOS.sh
          echo "::endgroup::"
      - name: qemu-test
        run: |
          echo "::group::test"
          ./.github/scripts/run_qemu_tests.sh
          echo "::endgroup::"
      - name: report_output
        run: |
          echo "::group::serial.log"
          cat serial.log
          echo "::endgroup::"
      - name: check_output
        run: "echo \"::group::run check_output.py\"\npython3 ./.github/scripts/check_output.py\necho \"::endgroup::\" \n"

# TODO: This should test building with and without terminal logging. I currently have a broken build with terminal.
# TODO: This should also build with debug mode and release mode with terminal and without
